@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

body {
    color: rgb(var(--foreground-rgb));

    /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.loan-breakdown-table {
    tr {
        @apply m-10;
    }
    td {
        @apply p-2 font-bold;
    }
}
.mortgage-detail-table {
    tr {
        @apply m-10;
    }
    td {
        @apply p-1;
    }
}

.biweekly-table {
    tr {
        @apply m-10;
    }
    td {
        @apply p-2 font-bold;
    }
}

@layer components {
    .main-squares {
        @apply text-black rounded-lg grow shadow-md shadow-gray-200 justify-self-center w-[calc(90lvw)];
    }

    .left-squares {
        @apply lg:justify-self-end lg:w-[calc(50lvw)] lg:max-w-[600px];
    }

    .right-squares {
        @apply lg:justify-self-start lg:w-[calc(40lvw)] lg:max-w-[500px];
    }

    .biweekly-label {
        @apply text-xs font-medium text-gray-500;
    }

    .title {
        @apply text-4xl lg:text-7xl;
    }
    @media (max-width: 400px) {
        .title {
            @apply text-2xl;
        }
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
